<div class="text-center">
  <h2>{{blogPost.title}}</h2>
  <p>{{blogPost.text}}</p>
  <p>Created by {{blogPost.user.name}} on {{format_date blogPost.date_created}}</p>
  
  <p>
    <button class="btn btn-primary">Add a comment</button>
  </p>
</div>

<div class="text-center">
  {{#if blogPost.comments.length}}
  <div>
    <h3>Comments:</h3>

    {{#each blogPost.comments as |comment|}}
    <div >
      <div >
        <h5>{{comment.text}}</h5>
          <p>Created by {{comment.user.name}} on {{format_date comment.date_created}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

